*{
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
    background-image: url(/Styles/assets/bg.jpg);
    
}

h1{
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    color: rgb(86, 17, 29);
}

.to-do-form{
    display: flex;
    justify-content: center;
    gap: 3px;
   
}
.input{
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    vertical-align:middle;
    font-size: 25px
}

button{
    cursor: pointer;
    border-radius: 3px;
    width: 60px;
    height: 50px;
    border: 1px solid black;
    font-size: 30px;
    vertical-align: middle;

}
.to-do-list{
    text-align: center;
    margin-top: 20px;
}

.task-styling{
    cursor: pointer;
    font-size: 25px;
}