*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/Styles/assets/bg.jpg);
   
    
}


h1{
    padding: 30px;
    color:rgb(109, 31, 53);
    text-align: center;
    font-size: 50px;
}
h4{
    color:rgb(109, 31, 53)
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}





button{
    color:rgb(109,31,53) ;
    font-size: large;
    cursor: pointer;
    background-color:rgb(109, 31, 53);
    
}

